:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --background-color: #2F303A;

    /* var */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background: #fff;
    color: #2a2a2a;
}
/* цвет основого текста #757575 */
/* заголовок #212121*/
/* вторичный цвет текста rgba(255, 255, 255, 0.6)*/
/* акцент #2196F3 */
/* белый #FFFFFF /*
/* background #2F303A (black) ,#E5E5E5 (white), #F5F4FA (blue) */

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Section */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    /* background-color: tomato; */
}
.section.no-padding {
    padding-top: 94px;
    padding-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1200px;
    /* outline: 15px solid plum; */

}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    /* background-color: tomato; */
}



/* Hero */
.hero {
    background-color: var(--background-color);
    text-align: center;
}

.hero-title {
    /* padding-top: 200px; */
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primery-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
/* Button */ 

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;
    /* margin-bottom: 200px ; */

    color: var(--primery-white-color);
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1,87;
    text-decoration: none;
}

/* Features */
.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.section-title-feature {
    display: none;
}
.feature-list .item {
    width: calc((100% - 30px * 3)/4);
    margin-right: 30px;
}

.feature-list .item:nth-child(4n) {
    margin-right: 0;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
 }

.feature-list .text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primery-text-color);

    font-weight: normal;
    font-size: 14px;
    line-height: 1,71;
}

/* Work list */

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-list .item {
    width: calc((100% - 30px * 2)/3);
    margin-right: 30px;
}

.work-list .item:nth-child(3n) {
    margin-right: 0;
}


/* Team */
.team-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.team-list .item {
    width: calc((100% - 30px * 3)/4);
    margin-right: 30px;
    background-color: var(--primery-white-color);
    text-align: center;
}

.team-list .item:nth-child(4n) {
    margin-right: 0;
}

.team-list .member {
     margin-bottom: 30px;
}
.team-list .title {
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-list .text {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primery-text-color);

    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
}

.background {
    background-color: #F5F4FA;
}





